@import '/src/variables.module.scss'; 

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text_color;
}

.sm {
    font-size: 15px;
}

.md {
    font-size: 22px;
}

.lg {
    font-size: 30px;
}