@import '/src/variables.module.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: $text_color;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: $text_color;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  display: flex;
}

